/* 
Please rename this file to {yourpage}_style.css while we work on individual html pages and css requirements.
*/

/*
filename: 
authors: 
    - Omer Ather Ather
    - Rune Finlayson
    - Huy Huynh
    - Fletcher Rosenberg
    - Zinilson Valente
created: 02/04/2026
last modified: 02/04/2026
description: 
*/

/* CSS DIRECTORY (as we make the individual css please format your css into groups with comments indicating the start of a group ex GLOBAL css (nav bar, elements shared website wide at the top of the page), HEADER (header elements), CLASSES (usage of .class elements) etc for readability and ease of intergrating into a single css.
    1. GLOBAL
    2. 
    3. 
    4. 
*/

/*** 1. GLOBAL ***/

@import url('https://fonts.googleapis.com');

body {
    min-block-size: 100vb;
    font-family: "Google Sans", monospace;
    font-size: 1.1rem;
    line-height: 1;
    color: rgb(152, 59, 5);
    background-image: linear-gradient(to right, rgb(199, 210, 254), rgb(254, 202, 202), rgb(254, 249, 195))
}

 img {
    display: flex;
    margin: auto;
    width: 150px;
    height: 170px;
    padding-bottom: 10px ;
}

.header {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
    padding-block: 2.5rem;
    padding-inline: 3.5rem;
    margin: 1rem;
    background-color: rgba(239, 139, 17, 0.297);
    border-radius: 1rem;
}

.header__logo {
    margin: 0;
}


.header__ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 2rem
}

.header__li {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background:rgba(152, 59, 5, 0.303);
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.header__li:hover {

    cursor: pointer;
    font-style: bold;
    color:rgb(42, 38, 38)
}

@media screen and (max-width: 800px) {
    .header {
        padding-block: 3rem;
        flex-direction: column;
        text-align: center;
    }
    .header__ul {
        margin-block-end: 0;
        margin-block-start: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* h1 {
    font-family: "Cascadia Mono", monospace;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Cascadia Mono", monospace;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: center;
}

nav a {
    background-color: white;
    border: black solid 1px;
    padding: 1%;
    font-family: "Cascadia Mono", monospace;
    font-weight: bold;
    text-decoration: none;
    color: brown ;
}

nav a:hover {
    display: inline-block;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
    color: blue;
}


body {
    font-family: "Cascadia Mono", monospace ;
    font-size: 15px;
} */ 

/*** END GLOBAL ***/