/* 
Please rename this file to {yourpage}_style.css while we work on individual html pages and css requirements.
*/

/*
filename: 
authors: 
    - Omer Ather Ather
    - Rune Finlayson
    - Huy Huynh
    - Fletcher Rosenberg
    - Zinilson Valente
created: 02/04/2026
last modified: 10/04/2026
description: 
*/

/* CSS DIRECTORY (as we make the individual css please format your css into groups with comments indicating the start of a group ex GLOBAL css (nav bar, elements shared website wide at the top of the page), HEADER (header elements), CLASSES (usage of .class elements) etc for readability and ease of intergrating into a single css.
    1. GLOBAL
    2. HEADER
    3. NAV
    4. ASIDE
    5. Paragraphs
    6. Job Content Class
    7. Headers and List Elements 
    8. Body Text Class
*/

/*** 1. GLOBAL ***/
* {
    font-family: calibri, sans-serif;
    font-size: 20px;
}

/*** 1. END GLOBAL ***/

/*** 2. HEADER ***/



header h1 {
    border: 5px solid rgb(101, 77, 207);
    border-radius: 15px;
    background-color: rgb(204, 141, 69);
    font-size: 8em;
    text-align: center;
    align-items: center;
    width: 50%;
}

.topelements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/*** 2. END HEADER ***/

/*** 3. NAV ***/
nav {
    display: flex;
    justify-content: space-evenly;
    border: 5px solid rgb(204, 141, 69);
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 2em 0.6em;
    text-decoration: none;
    text-align: center;
    width: 100%;

}

nav a {
    border: 5px solid rgb(204, 141, 69);
    padding: 1em 3em;
    border-radius: 5px;
    background-color: rgb(175, 175, 175);
}

/*** 3. END NAV ***/

/*** 4. ASIDE ***/
aside {
    border: 5px solid rgb(17, 49, 38);
    border-radius: 14px;
    margin: 1em;
    padding: 1em;
    width: 25%;
    background-color: aquamarine;
    float: right;
}

aside p {
    background-color: inherit;
}

/*** END ASIDE ***/

/*** 5. Paragraphs (exclusivly for Reporting Lines) ***/
p {
    background-color: rgb(112, 112, 112)
}

/*** 5. END Paragraphs ***/

/*** 6. Job Content Class ***/
.jobcontent {
    border: 5px solid;
    margin: 1em;
    padding: 1em;
    background-color: rgb(112, 112, 112);

}

/*** 6. END Job Content Class ***/

/*** 7. Headers and List Elements ***/

h2,
h3,
h4,
ul,
li,
ol {
    background-color: rgb(112, 112, 112);
}

/*** END Headers and List Elements ***/

/*** 8.  Body Text Class ***/
.text {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

/*** END Body Text Class ***/







/***Keeps Job Summary text background the same as the Aside background ***/
aside em,
strong {
    background-color: aquamarine;
}