/* 
Please rename this file to {yourpage}_style.css while we work on individual html pages and css requirements.
*/

/*
filename: 
authors: 
    - Omer Ather Ather
    - Rune Finlayson
    - Huy Huynh
    - Fletcher Rosenberg
    - Zinilson Valente
created: 02/04/2026
last modified: 09/04/2026
description: current working styles.css for culture.html
*/

/* CSS DIRECTORY (as we make the individual css please format your css into groups with comments indicating the start of a group ex GLOBAL css (nav bar, elements shared website wide at the top of the page), HEADER (header elements), CLASSES (usage of .class elements) etc for readability and ease of intergrating into a single css.
    1. GLOBAL
    2. 
    3. CLASSES
    4. 
*/

/*** 1. GLOBAL ***/

* {
    font-family: 'Verdana', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, rgb(199, 210, 254), rgb(254, 202, 202), rgb(254, 249, 195));
}

h1,
h2 {
    text-align: center;
    background: linear-gradient(to right, rgb(192, 132, 252), rgb(250, 204, 21));
    border-radius: 25px;
    width: 100%;
}

.topnav {
    background: linear-gradient(to right, rgb(134, 239, 172), rgb(192, 132, 252));
    overflow: hidden;
    width: 100%;
}

.topnav a,
.bottomnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid rgb(192, 132, 252);
}

.topnav a.active {
    border-bottom: 5px solid rgb(192, 132, 252);
}

.bottomnav {
    background: linear-gradient(to left, rgb(134, 239, 172), rgb(192, 132, 252));
    overflow: hidden;
    width: 100%;
}

.bottomnav a:hover {
    border-top: 3px solid rgb(134, 239, 172);
}

.bottomnav a.active {
    border-top: 5px solid rgb(134, 239, 172);
}

p {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    border-radius: 25px;
    border: 4px solid #7D4F50;
    padding: 2%;
    display: inline-block;
    text-align: center;
    background: #EBA6A9;
}

/*** END GLOBAL ***/


/*** 3. CLASSES AND ID'S ***/


.benefits p {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 5%;
}

.benefits img {
    display: inline-block;
    margin-left: 15%;
    max-width: 30%;
    border-radius: 25px;
    border: 4px solid #7D4F50;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-container div {
    background: radial-gradient(at 100% 0%, rgb(254, 202, 202), rgb(252, 165, 165), rgb(254, 240, 138));
    border-radius: 25px;
    border: 4px solid #7D4F50;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.grid1 {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0 !important;
}

.grid1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid2 img {
    max-width: 30%;
    float: left;
    border-radius: 25px;
    border: 4px solid #7D4F50;
}


.grid4 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    padding: 0 !important;
}

.grid4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


#testimonialForm {
    display: grid;
    place-items: center;
}

#testimonialForm label {
    font-weight: bolder;
}

#testimonialForm p {
    padding: 1%;
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            #7D4F50,
            rgba(0, 0, 0, 0)) 1 100%;
}

#cultureUL {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cultureTable {
    margin: 0 auto;
    background: #EBA6A9;
}

#cultureTable th,
#cultureTable td {
    border-right: 3px solid #7D4F50;
    border-left: 3px solid #7D4F50;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#acknowledgement {
    padding-bottom: 5%;
}

#acknowledgement p {
    font-size: larger;
}

/*** END CLASSES ***/