/*
filename: 
authors: 
    - Omer Ather Ather
    - Rune Finlayson
    - Huy Huynh
    - Fletcher Rosenberg
    - Zinilson Valente
created: 02/04/2026
last modified: 17/04/2026
description: global style.css for apply.html, about.html, culture.html, index.html and jobs.html
*/

/* CSS DIRECTORY (as we make the individual css please format your css into groups with comments indicating the start of a group ex GLOBAL css (nav bar, elements shared website wide at the top of the page), HEADER (header elements), CLASSES (usage of .class elements) etc for readability and ease of intergrating into a single css.
    1. GLOBAL
    2. GLOBAL CLASSES
    3. INDEX LAYOUT
    4. CULTURE LAYOUT
    5. ABOUT LAYOUT
    6. APPLY LAYOUT
    7. JOBS LAYOUT
*/

/*** 1. GLOBAL ***/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --primary-color: #669d1b;
    --light-color: #f4f4f6ee;
    --grey-color: #808080;
}

/* General Settings */
body {
    font-family: 'Poppins', sans serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

hr {
    height: 5px;
    border: none;
    background-color: #669d1b;
}

/* Navigation Bar */
.navbar {
    background-color: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar p {
    color: #669d1b;
    font-size: 1.5rem;
    margin-right: auto;
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    text-align: center;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}


.navbar ul li:last-child a {
    /* margin: left 10px; */
    margin-left: 10px;
}

.navbar ul li a i {
    margin-right: 5px;

}

/* Footer */

.footer {
    padding: 40px 0;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 5px;
}

.card .btn-subscribe {
    display: block;
    width: 100px;
    padding-right: 83px;
    margin-right: 100px;
    margin-left: 100px;


}


.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: start;
}

.footer .card {
    margin: 20px 30px 30px 0px;
}

/* BUTTONS */

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;

}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;

}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 20%;
    margin-left: 40%;
}

input, textarea, select, button {
    font-family: inherit;
}


/*** 1. GLOBAL END***/

/*** 2. GLOBAL CLASSES ***/

/* Text Classes */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0px 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0px 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0px 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0px 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0px 5px;
}

.text-center {
    text-align: center;
}

/* Background */

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}


.bg-dark {
    background: var(--grey-color);
    color: #fff;
}

.bg-grey {
    background: #3b3b3b;
    color: #fff;
}

/*** 2. GLOBAL CLASSES END ***/

/*** 3. INDEX LAYOUT ***/

/* Introduction */

.intro {
    margin-bottom: 100px;
}

.intro .container {
    background: url('..styles/images/edtech-background.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 620px;
}


.intro .intro-content {
    padding-top: 10px;
    width: 90%;
}


.intro .intro-text {
    width: 50%;
    margin-bottom: 25px;
}

/* Marketing */

.marketing {
    padding: 70px 0;
}

.marketing .marketing-heading {
    padding: 0;
    margin-bottom: 100px;
    text-align: center;


}

.marketing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.marketing .card p:first-child {
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 1.1rem;
    text-align: center;
}

.marketing .card p:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

/* Results */

.results-heading {
    padding: 40px 0;
    margin: 200px 0;
}

.container-results {
    display: flex;
    flex-direction: row;

}


.results-text {
    margin: 0 30px 0 60px;
    height: 50px;
    width: 30%;
    text-align: left;
}

.btn-learn-more {
    display: block;
    margin-top: 15px;
    width: 50%;
    margin-left: 0;
}

.results-table {
    height: 50px;
    width: 55%;
    margin-left: 30px;
    margin: 0 30px 30px 60px;
    border: 1.5px solid #333;
    border-collapse: collapse;
}

.results-table td,
.results-table th {
    border: 1.5px solid #333;
    padding: 5px;
}

.results .results-subheading {
    margin: 50px 0;
}

.results-table-row.before td:last-child {
    text-align: center;
    color: red;
}

.results-table-row.after td:last-child {
    text-align: center;
    color: green;
}


.results .results-footer {
    margin: 30px 0px;
}

/* Roles */


.roles-text {
    padding: 50px 0;
}



input {
    width: 300px;
    height: 35px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    ;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    margin-bottom: 30px;
    display: block;
}

.btn-roles {
    display: block;
    width: 20%;
    margin-left: 40%;
    width: 50px;
}

.edtech-slogan {
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 600;
    padding: 70px 0 80px 0;
}

/* Utility Classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* CARD */

.card {
    background: #fff;
    color: #333;
    border-radius: 10px;
    padding: 20px;
}

/*** 3. INDEX LAYOUT END ***/

/*** 4. CULTURE LAYOUT ***/



.benefits p {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 5%;
}

.benefits img {
    display: inline-block;
    margin-left: 15%;
    max-width: 30%;
    border-radius: 25px;
    border: 4px solid #669d1b;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-container div {
    /* background: radial-gradient(at 100% 0%, rgb(254, 202, 202), rgb(252, 165, 165), rgb(254, 240, 138)); */
    border-radius: 25px;
    border: 4px solid #669d1b;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.grid1 {
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0 !important;
}

.grid1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid2 img {
    max-width: 30%;
    float: left;
    border-radius: 25px;
    border: 4px solid #669d1b;
}


.grid4 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    padding: 0 !important;
}

.grid4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#testimonialForm {
    display: grid;
    place-items: center;
}

#testimonialForm form {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 25px;
    border: 4px solid #669d1b;
}

#testimonialForm label {
    font-weight: bolder;
}

#testimonialForm p {
    margin-top: 2%;
    padding: 1%;
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            #669d1b,
            rgba(0, 0, 0, 0)) 1 100%;
}

#cultureUL {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cultureTable {
    margin: 0 auto;
}

#cultureTable th,
#cultureTable td {
    border-right: 3px solid #669d1b;
    border-left: 3px solid #669d1b;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#acknowledgement {
    padding-bottom: 5%;
}

#acknowledgement p {
    font-size: larger;
}

/*** 4. CULTURE LAYOUT END***/

/*** 5. ABOUT LAYOUT ***/


/*** 5. ABOUT LAYOUT END ***/

/*** 6. APPLY LAYOUT ***/

#apply_body main {
    margin-bottom: 2rem;
}

.navbar-apply p {
    margin-right: auto;
}

.navbar-apply {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding-block: 1.5rem;
    padding-inline: 3.5rem;
    background-color: rgba(165, 160, 155, 0.297);
}

#form_intro_apply {
    display: flex;
    color: #669d1b;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__ul {
    margin: 0;
    padding: 0;
    display: flex;
    /*Turn the list to horizontal*/
    list-style: none;
    gap: 2rem
}


/*Customizing the tabs for the header nav bar*/
.header__li {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    color: rgb(1, 83, 7);
    background: #d8d6d6;
    gap: 1rem
    ;
    align-items: center;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.header__li:hover {

    cursor: pointer;
    font-weight: bold;
    color: rgb(42, 38, 38)
}

/*Removing the border for fieldset*/
fieldset {
    border: none;
}

form {
    font-weight: bold;
    color: ;
    padding-block: 2.5rem;
    padding-inline: 4.5rem;
    margin: 0 auto;
    max-width: 800px;
    background-color: #ececec;
    border-radius: 1rem;
}


.form-group {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin-bottom: 20px;
}

#application_form input[type="text"],
#application_form input[type="email"], 
#application_form textarea,
#application_form select {
    width: 100%;
    height: auto;
    padding: 8px 12px;
    font-size: 15px;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 0;
    display: inline;
    outline: none;
    transition: border 0.6s;
}


#application_form input[type="text"]:focus,
#application_form input[type="email"]:focus,
#application_form textarea:focus,
#application_form select:focus {
    border-color: #669d1b;
}


#fieldset-gender,
#fieldset-skills {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 8px;
}

#fieldset-gender legend,
#fieldset-skills legend {
    margin-bottom: 4px;
}

#fieldset-gender label,
#fieldset-skills label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
}



#btn-submit {
    height: 55px;
    width: 100%;
    color: #222121;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    background: rgba(146, 145, 145, 0.247);
}

#btn-reset {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    background: rgba(255, 0, 0, 0.301);
}

#btn-submit:hover {
    background: #669d1b;
    color: #fff;
    font-weight: 600;
}

#btn-reset:hover {
    background:rgb(255, 0, 0);
    color: #fff;
    font-weight: 600;
}


#application_form input[type="radio"],
#application_form input[type="checkbox"] {
    width: auto;
    height: auto;
    display: inline;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 700px) {
    
    
    .navbar-apply {
        flex-direction: column;
        text-align: center;
        padding-block: 3rem;
    }

    .navbar-apply .main-menu ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .header__ul {
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        grid-template-columns: 1fr;
    }

}
/*** 6. APPLY LAYOUT END***/

/*** 7. JOBS LAYOUT ***/

.jobTitle {
    border: 3px solid #669d1b;
    background-color: #3b3b3b;
}


.jobSumaside {
    border: 3px solid #669d1b;
    border-radius: 25px;
    margin: 2em;
    padding: 1em;
    width: 25%;
    float: right;
}

.jobSumimg {
    border: 3px solid #669d1b;
    border-radius: 25px;
    height: auto;
    width:auto;
}

.jobSumtxt {
    padding: 2em;
    border: 3px solid #669d1b;
    border-radius: 25px;
}

.jobGeneraltxt {
    color: black 
}
.jobGeneraltxt h3 h4  {
    text-align: left;
    padding-left: 20px;
}

.jobGeneraltxt ul {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0px 5px;
    text-align: left;
    list-style: disc;
    padding-left: 20px;
}

.jobGeneralbox {
    background-color: #ffff;
    border: 3px solid #669d1b;
    border-radius: 25px;
    width: fit-content;
    padding-bottom: 20px;
}

.job-grid-container {
    display: grid;
    gap: 0px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    overflow: hidden;

    
}

.job-grid1
{
    grid-row-start: 1;
    grid-row-end: 2;

}

.job-grid2
{
    grid-row-start: 2;
    grid-row-end: 2; 
}

.job-grid3
{
    grid-row-start: 1;
    grid-row-end: 2;

}

.job-grid4
{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2; 
}
.job-grid5
{
    grid-row-start: 2;
    grid-row-end: 2; 

}
.job-grid6
{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column: 7; 
    align-self: right;
}
    
/*** 7. JOBS LAYOUT END***/